@import url(https://fonts.googleapis.com/css?family=Mukta+Malar);@import url(https://fonts.googleapis.com/css?family=Merriweather);@font-face {
  font-family: main-font;
  src: url(/AVANTN.ttf);
}

* {
  font-family: main-font;
}

* .container-fluid {
  max-width: 1520px;
  padding: 0 30px;
}

@media screen and (max-width: 768px) {
  * .container-fluid {
    padding: 0 15px;
  }
}

.main-jumbo {
  padding-top: 0;
}

.title-article {
  color: #000;
  line-height: 30px;
  text-transform: uppercase;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 20px;
}

.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3 {
  width: 25%;
  float: left;
}

.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4 {
  width: 33.33333333%;
  float: left;
}

.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6 {
  width: 50%;
  float: left;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}

.dropdown-submenu > a:after {
  display: block;
  content: '';
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  border-radius: 6px 0 6px 6px;
}

.navbar-fixed-top {
  position: relative;
}

@media screen and (max-width: 768px) {
  .category-page,
  .search-campain-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.category-page .nav_menu,
.category-page .left-category,
.search-campain-content .nav_menu,
.search-campain-content .left-category {
  position: relative;
  border-bottom: 1px #dadcdd solid;
}

.category-page .nav_menu *,
.category-page .left-category *,
.search-campain-content .nav_menu *,
.search-campain-content .left-category * {
  font-size: 14px;
  color: #000;
}

.category-page .nav_menu > ul,
.category-page .left-category > ul,
.search-campain-content .nav_menu > ul,
.search-campain-content .left-category > ul {
  background: #fff;
  line-height: 30px;
  padding: 0;
}

.category-page .nav_menu > ul > li,
.category-page .left-category > ul > li,
.search-campain-content .nav_menu > ul > li,
.search-campain-content .left-category > ul > li {
  list-style: none;
  z-index: 10;
  height: 100%;
  -webkit-transition: 2s ease-out;
  transition: 2s ease-out;
}

.category-page .nav_menu > ul > li > a,
.category-page .left-category > ul > li > a,
.search-campain-content .nav_menu > ul > li > a,
.search-campain-content .left-category > ul > li > a {
  background: #fff;
  display: block;
  text-transform: uppercase;
}

.category-page .nav_menu > ul > li > a:hover,
.category-page .left-category > ul > li > a:hover,
.search-campain-content .nav_menu > ul > li > a:hover,
.search-campain-content .left-category > ul > li > a:hover {
  text-decoration: none;
}

.category-page .nav_menu > ul > li > a i,
.category-page .left-category > ul > li > a i,
.search-campain-content .nav_menu > ul > li > a i,
.search-campain-content .left-category > ul > li > a i {
  font-size: 16px;
}

.category-page .nav_menu > ul > li > a .caret,
.category-page .left-category > ul > li > a .caret,
.search-campain-content .nav_menu > ul > li > a .caret,
.search-campain-content .left-category > ul > li > a .caret {
  float: right;
  display: block;
  width: 9px;
  height: 10px;
}

.category-page .nav_menu > ul > li > a .plusMark,
.category-page .left-category > ul > li > a .plusMark,
.search-campain-content .nav_menu > ul > li > a .plusMark,
.search-campain-content .left-category > ul > li > a .plusMark {
  display: none;
}

.category-page .nav_menu > ul > li > ul,
.category-page .left-category > ul > li > ul,
.search-campain-content .nav_menu > ul > li > ul,
.search-campain-content .left-category > ul > li > ul {
  width: 100%;
  position: relative;
  padding-left: 10px;
  line-height: 30px;
}

.category-page .nav_menu > ul > li > ul > li,
.category-page .left-category > ul > li > ul > li,
.search-campain-content .nav_menu > ul > li > ul > li,
.search-campain-content .left-category > ul > li > ul > li {
  list-style: none;
  display: none;
}

@media screen and (max-width: 768px) {
  .category-page .nav_menu > ul > li > ul > li,
  .category-page .left-category > ul > li > ul > li,
  .search-campain-content .nav_menu > ul > li > ul > li,
  .search-campain-content .left-category > ul > li > ul > li {
    display: none;
  }
}

.category-page .nav_menu > ul > li > ul > li a,
.category-page .left-category > ul > li > ul > li a,
.search-campain-content .nav_menu > ul > li > ul > li a,
.search-campain-content .left-category > ul > li > ul > li a {
  display: block;
  text-transform: unset !important;
}

.category-page .nav_menu > ul > li > ul > li a .plusMark,
.category-page .nav_menu > ul > li > ul > li a .caret,
.category-page .left-category > ul > li > ul > li a .plusMark,
.category-page .left-category > ul > li > ul > li a .caret,
.search-campain-content .nav_menu > ul > li > ul > li a .plusMark,
.search-campain-content .nav_menu > ul > li > ul > li a .caret,
.search-campain-content .left-category > ul > li > ul > li a .plusMark,
.search-campain-content .left-category > ul > li > ul > li a .caret {
  display: none;
}

.category-page .nav_menu > ul > li > ul > li a:hover,
.category-page .left-category > ul > li > ul > li a:hover,
.search-campain-content .nav_menu > ul > li > ul > li a:hover,
.search-campain-content .left-category > ul > li > ul > li a:hover {
  text-decoration: none;
}

.category-page .nav_menu > ul > li > ul > li > ul,
.category-page .left-category > ul > li > ul > li > ul,
.search-campain-content .nav_menu > ul > li > ul > li > ul,
.search-campain-content .left-category > ul > li > ul > li > ul {
  display: block;
  position: relative;
  padding-left: 10px;
  line-height: 30px;
}

.category-page .nav_menu > ul > li > ul > li > ul li,
.category-page .left-category > ul > li > ul > li > ul li,
.search-campain-content .nav_menu > ul > li > ul > li > ul li,
.search-campain-content .left-category > ul > li > ul > li > ul li {
  list-style: none;
}

@media screen and (max-width: 768px) {
  .category-page .nav_menu,
  .category-page .left-category,
  .search-campain-content .nav_menu,
  .search-campain-content .left-category {
    border-top: 1px #dadcdd solid;
    padding: 10px 0;
  }
}

.category-page .filter-color,
.search-campain-content .filter-color {
  padding: 10px 0;
  border-bottom: 1px #dadcdd solid;
}

.category-page .filter-color .nav,
.category-page .filter-color .navbar-nav,
.search-campain-content .filter-color .nav,
.search-campain-content .filter-color .navbar-nav {
  float: unset;
}

.category-page .filter-color .left-menu,
.search-campain-content .filter-color .left-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
}

.category-page .filter-color .left-menu li a,
.search-campain-content .filter-color .left-menu li a {
  padding: 5px 8px !important;
}

.category-page .filter-size,
.search-campain-content .filter-size {
  border-bottom: 1px #dadcdd solid;
  padding: 10px 0;
}

.category-page .filter-size .navbar-nav,
.search-campain-content .filter-size .navbar-nav {
  float: unset;
}

.category-page .filter-size .navbar-nav li a,
.search-campain-content .filter-size .navbar-nav li a {
  color: #666;
  font-size: 11px;
}

.category-page .filter-part,
.search-campain-content .filter-part {
  padding: 10px 0;
}

.category-page .filter-part .dropdown .btn,
.category-page .filter-part .dropdown .btn-primary,
.category-page .filter-part .dropdown .dropdown-toggle,
.search-campain-content .filter-part .dropdown .btn,
.search-campain-content .filter-part .dropdown .btn-primary,
.search-campain-content .filter-part .dropdown .dropdown-toggle {
  border: none;
  border-radius: 0;
  background: #f3f3f3;
  color: #000;
  letter-spacing: 1.2px;
  font-size: 12px;
  padding: 3px 10px;
}

.category-page .filter-part .dropdown .btn:focus,
.category-page .filter-part .dropdown .btn:active,
.category-page .filter-part .dropdown .btn-primary:focus,
.category-page .filter-part .dropdown .btn-primary:active,
.category-page .filter-part .dropdown .dropdown-toggle:focus,
.category-page .filter-part .dropdown .dropdown-toggle:active,
.search-campain-content .filter-part .dropdown .btn:focus,
.search-campain-content .filter-part .dropdown .btn:active,
.search-campain-content .filter-part .dropdown .btn-primary:focus,
.search-campain-content .filter-part .dropdown .btn-primary:active,
.search-campain-content .filter-part .dropdown .dropdown-toggle:focus,
.search-campain-content .filter-part .dropdown .dropdown-toggle:active {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.category-page .filter-part .dropdown .dropdown-menu li,
.search-campain-content .filter-part .dropdown .dropdown-menu li {
  padding: 2px 10px;
}

.category-page .filter-part .dropdown .dropdown-menu li a,
.search-campain-content .filter-part .dropdown .dropdown-menu li a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  font-size: 13px;
}

.category-page .filter-part .filter-grid,
.search-campain-content .filter-part .filter-grid {
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .category-page .filter-part .filter-grid,
  .search-campain-content .filter-part .filter-grid {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .category-page .filter-part,
  .search-campain-content .filter-part {
    z-index: 1;
    top: 70px;
    padding: 10px 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.category-page .item_product_list,
.search-campain-content .item_product_list {
  margin: 2px 0;
  padding: 0 4px;
  height: auto;
  position: relative;
}

.category-page .item_product_list.grid-5,
.search-campain-content .item_product_list.grid-5 {
  width: 20% !important;
  float: left;
}

.category-page .item_product_list .border,
.search-campain-content .item_product_list .border {
  border: none !important;
}

.category-page .item_product_list .border .img a,
.search-campain-content .item_product_list .border .img a {
  position: relative;
  display: block;
}

.category-page .item_product_list .border .img a .first,
.search-campain-content .item_product_list .border .img a .first {
  width: 100%;
}

.category-page .item_product_list .border .img a .second,
.search-campain-content .item_product_list .border .img a .second {
  top: 0;
  position: absolute;
  width: 100%;
}

.category-page .item_product_list .border .img:hover a .first,
.search-campain-content .item_product_list .border .img:hover a .first {
  opacity: 0 !important;
  -webkit-transition: 1s;
  transition: 1s;
}

.category-page .item_product_list .border .img:hover a .second,
.search-campain-content .item_product_list .border .img:hover a .second {
  opacity: 1 !important;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

.category-page .item_product_list .border .info *,
.search-campain-content .item_product_list .border .info * {
  color: #000;
  text-align: center;
  font-size: 16px;
}

.category-page .item_product_list .border .info .clb,
.search-campain-content .item_product_list .border .info .clb {
  text-transform: uppercase;
  font-weight: unset;
}

.category-page .item_product_list .border .info .brief,
.category-page .item_product_list .border .info .clearfix,
.search-campain-content .item_product_list .border .info .brief,
.search-campain-content .item_product_list .border .info .clearfix {
  font-size: 18px;
  font-weight: bold;
}

.category-page .item_product_list .border .info .color-dot,
.search-campain-content .item_product_list .border .info .color-dot {
  display: block;
  margin: 0 auto 10px;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  border: 1px solid #adafbb;
}

@media screen and (max-width: 768px) {
  .category-page .item_product_list,
  .search-campain-content .item_product_list {
    margin-top: 70px;
  }
}

.product-page .thumbnail-product .img {
  width: 100%;
}

/*
 *  Accessible Multi-Level Dropdown Navigation Menu
 *  Created by Ire Aderinokun
 *
 */

/* Resets */

@media screen and (min-width: 650px) {
  #nav {
    display: inline-block;
  }

  #nav a:focus {
    outline: none;
  }

  #nav li {
    text-align: left;
    width: 200px;
  }
}

@media screen and (max-width: 650px) {
  #nav {
    display: block;
  }

  #nav li {
    text-align: center;
    width: 100%;
  }
}

#nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#nav li {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

#nav a {
  text-decoration: none;
  height: 100%;
  display: block;
  padding: 0 20px;
}

/* Any sub menu */

@media screen and (min-width: 650px) {
  a + ul {
    position: absolute;
  }
}

@media screen and (max-width: 650px) {
  a + ul {
    position: relative;
  }

  a + ul:not(.js-hideElement) {
    display: block;
  }
}

/* The Main Navigation Bar - Navigation Level One */

#nav > ul,
.fa {
  height: 100%;
  line-height: 35px;
}

@media screen and (min-width: 650px) {
  #nav > ul > li {
    float: left;
    width: auto;
  }
}

@media screen and (min-width: 650px) {
  #nav > ul > li:not(#toggleMenu):not(.js-showElement) {
    display: inline-block;
  }
}

@media screen and (min-width: 650px) {
  #nav #toggleMenu {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  #nav #toggleMenu {
    display: block;
    width: 100%;
  }

  #nav #toggleMenu.js-open .fa-times {
    display: block;
  }

  #nav #toggleMenu.js-open .fa-bars {
    display: none;
  }

  #nav #toggleMenu:not(.js-open) .fa-times {
    display: none;
  }

  #nav #toggleMenu:not(.js-open) .fa-bars {
    display: block;
  }
}

span#toggleMenu-text {
  position: absolute;
  opacity: 0;
}

/* Second Level Dropdown */

#nav .js-hideElement {
  display: none;
}

#nav .js-showElement {
  display: block;
}

@media screen and (min-width: 650px) {
  #nav > ul > li > ul {
    top: 35px;
    left: 0;
  }
}

@media screen and (max-width: 650px) {
  #nav > ul > li > ul {
    width: 100%;
    position: relative;
  }
}

/* Third Level Dropdown */

@media screen and (min-width: 650px) {
  #nav > ul > li > ul > li > ul {
    top: 0;
    left: 200px;
    /* width of ul */
  }
}

@media screen and (max-width: 650px) {
  #nav > ul > li > ul > li > ul {
    width: 100%;
    position: relative;
  }
}

/* Javascript classes */

/* Fallback for users without javascript */

html.no-js li:hover > a + ul,
html.no-js li:focus > a + ul {
  display: block;
}

@media screen and (max-width: 650px) {
  html.no-js #nav:hover > ul > li:not(#toggleMenu),
  html.no-js #nav:focus > ul > li:not(#toggleMenu) {
    display: block;
  }

  html.no-js #nav:hover li:hover > a + ul,
  html.no-js #nav:hover li:focus > a + ul {
    display: block;
  }

  html.no-js #nav:focus li:hover > a + ul,
  html.no-js #nav:focus li:focus > a + ul {
    display: block;
  }
}

.cart_list {
  border-bottom: 1px solid #181818;
}

.cart_list thead tr {
  text-transform: uppercase;
  font-weight: normal;
  text-align: left;
  border-top: 1px solid #181818;
  height: 43px;
}

.cart_list thead tr th {
  font-size: 12px;
  background: #181818;
  color: #fff;
  padding: 10px;
  white-space: nowrap;
  width: 100%;
}

.cart_list tbody td {
  text-align: right;
  vertical-align: middle;
}

.button-black {
  color: white;
  background: black;
  width: 200px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-size: 14px;
  min-width: 100px;
  margin: 5px 0;
  text-decoration: none;
}

.button-black:hover {
  text-decoration: none;
  color: white;
}

body {
  background: #fff;
  margin: 0;
  padding: 0;
}

#app .navbar {
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  #app .navbar {
    min-height: unset;
  }
}

@media screen and (max-width: 768px) {
  #app {
    position: fixed;
    z-index: 11111;
    width: 100%;
    height: 70px;
    top: 0;
    background: white;
    border-bottom: 1px #dadcdd solid;
  }
}

.navbar-static-top {
  padding: 0;
  border: none;
}

.navbar-static-top .top-banner-contact {
  width: 100%;
}

.navbar-static-top .top-banner-contact .s-top {
  background: #222222;
}

.navbar-static-top .top-banner-contact .s-top .info-top {
  padding: 10px 0 0 0;
}

.navbar-static-top .top-banner-contact .s-top .info-top #s-hotline {
  float: left;
}

.navbar-static-top .top-banner-contact .s-top .info-top #s-hotline .hidden-xs {
  display: inline-block;
}

.navbar-static-top .top-banner-contact .s-top .info-top #s-hotline .hidden-xs li {
  padding-right: 15px;
  color: #fff;
  display: inline;
}

.navbar-static-top .top-banner-contact .s-top .info-top #s-hotline .hidden-xs li .fa-truck {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.navbar-static-top .top-banner-contact .s-top .info-top #s-hotline .hidden-xs li a {
  font-size: 11px;
  color: #fff;
}

.navbar-static-top .top-banner-contact .s-top .info-top #s-hotline .hidden-xs li a:hover {
  text-decoration: none;
  opacity: 0.7;
}

.navbar-static-top .top-banner-contact .s-top .info-top #s-hotline .hidden-xs li i {
  font-size: 16px;
}

.navbar-static-top .top-banner-contact .s-top .info-top #s-hotline .hidden-xs li .hotline-banner-contact {
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .navbar-static-top .top-banner-contact .s-top {
    display: block;
    height: 30px;
    position: absolute;
    top: 0;
    width: 100%;
    margin-left: -1px;
  }

  .navbar-static-top .top-banner-contact .s-top .info-top {
    padding: 5px 0;
  }

  .navbar-static-top .top-banner-contact .s-top .info-top .hidden-xs {
    display: block !important;
    padding-left: 5px;
  }

  .navbar-static-top .top-banner-contact .s-top .info-top .hidden-xs li {
    display: none !important;
  }

  .navbar-static-top .top-banner-contact .s-top .info-top .hidden-xs li a {
    font-size: 15px !important;
  }

  .navbar-static-top .top-banner-contact .s-top .info-top .hidden-xs .phone-mobile-only {
    display: block !important;
    position: absolute;
  }

  .navbar-static-top .top-banner-contact .s-top .info-top .hidden-xs .phone-mobile-only .hotline-banner-contact {
    display: none;
  }
}

.navbar-static-top .top-banner-contact .logo-page {
  padding: 27px 0;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  border-bottom: 1px solid rgba(220, 220, 220, 0.7);
}

.navbar-static-top .top-banner-contact .logo-page img {
  width: 200px;
  height: 50px;
}

@media screen and (max-width: 768px) {
  .navbar-static-top .top-banner-contact .logo-page img {
    width: 100px;
    height: 25px;
  }
}

@media screen and (max-width: 768px) {
  .navbar-static-top .top-banner-contact .logo-page {
    position: absolute;
    top: 35px;
    left: 70px;
    z-index: 50;
    padding: 0;
    max-width: 5px 60px;
    border: none;
  }
}

.navbar-static-top .top-banner-menu {
  background: #fff;
  width: 100%;
}

.navbar-static-top .top-banner-menu .navbar-fixed-top {
  padding: 0 15px;
}

.navbar-static-top .top-banner-menu .navbar-fixed-top .main-menu-fixtop {
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar-static-top .top-banner-menu .navbar-fixed-top .main-menu-fixtop #nav {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: unset;
  margin: 0;
  padding: 0;
  color: #000;
  background: unset;
  border: none;
  list-style: none;
}

.navbar-static-top .top-banner-menu .navbar-fixed-top .main-menu-fixtop #nav * {
  font-size: 11px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}

.navbar-static-top .top-banner-menu .navbar-fixed-top .main-menu-fixtop #nav .closebtn {
  display: none;
  color: white;
}

@media screen and (max-width: 768px) {
  .navbar-static-top .top-banner-menu .navbar-fixed-top .main-menu-fixtop #nav .closebtn {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
    margin-left: 50px;
  }
}

.navbar-static-top .top-banner-menu .navbar-fixed-top .main-menu-fixtop #nav > ul {
  background: #fff;
  line-height: 40px;
}

@media screen and (max-width: 768px) {
  .navbar-static-top .top-banner-menu .navbar-fixed-top .main-menu-fixtop #nav > ul {
    float: left;
    background: #222;
    width: 100%;
  }
}

.navbar-static-top .top-banner-menu .navbar-fixed-top .main-menu-fixtop #nav > ul > li {
  border: unset;
  position: unset;
}

@media screen and (max-width: 768px) {
  .navbar-static-top .top-banner-menu .navbar-fixed-top .main-menu-fixtop #nav > ul > li {
    float: none;
    display: block;
    width: 100%;
  }

  .navbar-static-top .top-banner-menu .navbar-fixed-top .main-menu-fixtop #nav > ul > li::after {
    content: '';
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: block;
    width: 100%;
    bottom: 0;
    opacity: .1;
    left: 0;
  }
}

.navbar-static-top .top-banner-menu .navbar-fixed-top .main-menu-fixtop #nav > ul > li > a {
  background: #fff;
  color: #000;
  border: none;
  text-align: left;
  padding: 0 10px;
}

.navbar-static-top .top-banner-menu .navbar-fixed-top .main-menu-fixtop #nav > ul > li > a i {
  font-size: 16px;
}

.navbar-static-top .top-banner-menu .navbar-fixed-top .main-menu-fixtop #nav > ul > li > a .caret {
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .navbar-static-top .top-banner-menu .navbar-fixed-top .main-menu-fixtop #nav > ul > li > a .caret {
    display: none;
  }
}

.navbar-static-top .top-banner-menu .navbar-fixed-top .main-menu-fixtop #nav > ul > li > a .plusMark {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar-static-top .top-banner-menu .navbar-fixed-top .main-menu-fixtop #nav > ul > li > a {
    padding: unset;
    margin: unset;
    line-height: unset;
    text-align: left;
    background: transparent;
    text-transform: none !important;
    color: #fff;
  }

  .navbar-static-top .top-banner-menu .navbar-fixed-top .main-menu-fixtop #nav > ul > li > a .caret,
  .navbar-static-top .top-banner-menu .navbar-fixed-top .main-menu-fixtop #nav > ul > li > a i {
    color: #fff;
  }
}

.navbar-static-top .top-banner-menu .navbar-fixed-top .main-menu-fixtop #nav > ul > li > ul {
  background: #fff;
  position: absolute;
  width: 100%;
  height: 300px;
  display: none;
}

.navbar-static-top .top-banner-menu .navbar-fixed-top .main-menu-fixtop #nav > ul > li > ul > li {
  width: 300px;
  margin-right: 0 10px;
}

.navbar-static-top .top-banner-menu .navbar-fixed-top .main-menu-fixtop #nav > ul > li > ul > li:nth-child(2n +1) {
  background: rgba(217, 217, 217, 0.3);
  height: 250px;
}

.navbar-static-top .top-banner-menu .navbar-fixed-top .main-menu-fixtop #nav > ul > li > ul > li:last-child {
  height: 300px;
  background: unset;
  margin-left: 15px;
}

.navbar-static-top .top-banner-menu .navbar-fixed-top .main-menu-fixtop #nav > ul > li > ul > li:last-child img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  float: right;
}

.navbar-static-top .top-banner-menu .navbar-fixed-top .main-menu-fixtop #nav > ul > li > ul > li > a {
  background: transparent;
  border: none;
  padding: 15px 20px;
  border-bottom: 1px solid #ededed;
}

@media screen and (max-width: 768px) {
  .navbar-static-top .top-banner-menu .navbar-fixed-top .main-menu-fixtop #nav > ul > li > ul {
    height: 100vh;
  }
}

.navbar-static-top .top-banner-menu .navbar-fixed-top .main-menu-fixtop #nav .js-showElement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.navbar-static-top .top-banner-menu .navbar-fixed-top .main-menu-fixtop #nav .js-showElement * {
  font-size: 10px;
}

.navbar-static-top .top-banner-menu .navbar-fixed-top .main-menu-fixtop #nav .js-showElement li {
  position: relative;
  width: 100%;
}

.navbar-static-top .top-banner-menu .navbar-fixed-top .main-menu-fixtop #nav .js-showElement li a {
  padding: 0;
  display: block;
  margin: 0 30px;
}

.navbar-static-top .top-banner-menu .navbar-fixed-top .main-menu-fixtop #nav .js-showElement li a .plusMark,
.navbar-static-top .top-banner-menu .navbar-fixed-top .main-menu-fixtop #nav .js-showElement li a .caret {
  display: none;
}

.navbar-static-top .top-banner-menu .navbar-fixed-top .main-menu-fixtop #nav .js-showElement li ul {
  display: block;
  position: absolute;
  left: 0;
  top: 60px;
  line-height: 30px;
}

.navbar-static-top .top-banner-menu .navbar-fixed-top .main-menu-fixtop #nav .js-showElement li ul li a {
  font-size: 12px;
  background: transparent;
  border: none;
  text-transform: none;
  line-height: unset;
}

@media screen and (max-width: 768px) {
  .navbar-static-top .top-banner-menu .navbar-fixed-top .main-menu-fixtop #nav .js-showElement li ul li a {
    background: transparent;
  }
}

@media screen and (max-width: 768px) {
  .navbar-static-top .top-banner-menu .navbar-fixed-top .main-menu-fixtop #nav .js-showElement {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navbar-static-top .top-banner-menu .navbar-fixed-top .main-menu-fixtop #nav {
    height: 100vh;
  }
}

.navbar-static-top .top-banner-menu .navbar-fixed-top .main-menu-fixtop .search-right-clm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 6px 0 0 0;
}

.navbar-static-top .top-banner-menu .navbar-fixed-top .main-menu-fixtop .search-right-clm form {
  width: 60%;
}

.navbar-static-top .top-banner-menu .navbar-fixed-top .main-menu-fixtop .search-right-clm form input {
  width: 65%;
  font-size: 14px;
  border: none;
  border-right: 1px solid rgba(211, 211, 211, 0.5);
}

.navbar-static-top .top-banner-menu .navbar-fixed-top .main-menu-fixtop .search-right-clm form button {
  padding-left: 10px;
  background: none;
  border: none;
}

.navbar-static-top .top-banner-menu .navbar-fixed-top .main-menu-fixtop .search-right-clm form button .fa-search {
  font-size: 12px;
  opacity: 0.5;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.navbar-static-top .top-banner-menu .navbar-fixed-top .main-menu-fixtop .search-right-clm .shopping-cart {
  padding-left: 5px;
  padding-top: 5px;
}

.navbar-static-top .top-banner-menu .navbar-fixed-top .main-menu-fixtop .search-right-clm .shopping-cart .fa-shopping-cart {
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .navbar-static-top .top-banner-menu .navbar-fixed-top .main-menu-fixtop .search-right-clm {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navbar-static-top .top-banner-menu .navbar-fixed-top .main-menu-fixtop {
    background: #222;
  }
}

@media screen and (max-width: 768px) {
  .navbar-static-top .top-banner-menu .navbar-fixed-top .main-menu-fixtop {
    float: left;
    width: 0;
    display: none;
    max-height: unset;
    padding-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .navbar-static-top .top-banner-menu .navbar-fixed-top .navbar-header {
    width: 15%;
  }

  .navbar-static-top .top-banner-menu .navbar-fixed-top .navbar-header .navbar-toggle {
    padding: 8px;
    margin: 0;
    background-color: #222;
    border-radius: 0;
    float: left;
    border: none;
  }

  .navbar-static-top .top-banner-menu .navbar-fixed-top .navbar-header .navbar-toggle .icon-bar {
    background: #fff;
    height: 4px;
    margin-top: 3px;
    border: none;
  }
}

.navbar-static-top .top-banner-menu .navbar-fixed-top .search-right-clm-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar-static-top .top-banner-menu .navbar-fixed-top .search-right-clm-mobile {
    display: block;
    z-index: 1000;
    width: 35%;
    position: fixed;
    top: 38px;
    right: 0;
  }

  .navbar-static-top .top-banner-menu .navbar-fixed-top .search-right-clm-mobile form input {
    width: 65%;
    background: transparent;
    font-size: 14px;
    border: none;
    border-right: 1px solid rgba(211, 211, 211, 0.5);
  }

  .navbar-static-top .top-banner-menu .navbar-fixed-top .search-right-clm-mobile form button {
    padding-left: 10px;
    background: none;
    border: none;
  }

  .navbar-static-top .top-banner-menu .navbar-fixed-top .search-right-clm-mobile form button .fa-search {
    font-size: 12px;
    opacity: 0.5;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }

  .navbar-static-top .top-banner-menu .navbar-fixed-top .search-right-clm-mobile .shopping-cart {
    padding-left: 5px;
  }

  .navbar-static-top .top-banner-menu .navbar-fixed-top .search-right-clm-mobile .shopping-cart .fa-shopping-cart {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .navbar-static-top .top-banner-menu {
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 10;
    background: transparent;
  }
}

.custome-container .home-page .carousel .carousel-control,
.custome-container .home-page .slide .carousel-control {
  font-size: 30px;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: none;
  opacity: 1;
  font-size: 50px;
}

.custome-container .home-page .carousel .carousel-control .fa-angle-left,
.custome-container .home-page .slide .carousel-control .fa-angle-left {
  position: absolute;
  top: 50%;
}

@media screen and (max-width: 768px) {
  .custome-container .home-page .carousel .carousel-control .fa-angle-left,
  .custome-container .home-page .slide .carousel-control .fa-angle-left {
    display: none;
  }
}

.custome-container .home-page .carousel .carousel-control .fa-angle-right,
.custome-container .home-page .slide .carousel-control .fa-angle-right {
  position: absolute;
  right: 0;
  top: 50%;
}

@media screen and (max-width: 768px) {
  .custome-container .home-page .carousel .carousel-control .fa-angle-right,
  .custome-container .home-page .slide .carousel-control .fa-angle-right {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .custome-container .home-page .carousel,
  .custome-container .home-page .slide {
    margin-top: 80px;
  }
}

@media screen and (max-width: 768px) {
  .custome-container {
    padding: 0 5px;
  }
}

.newest-produces {
  background: #ffffff;
  width: 100%;
}

.newest-produces h3 {
  color: #222;
  text-align: center;
}

.newest-produces h3.line-products {
  width: 100%;
  display: table;
  white-space: nowrap;
  padding: 10px 0;
  text-transform: uppercase;
}

.newest-produces h3.line-products:before,
.newest-produces h3.line-products:after {
  border-top: 1px solid gainsboro;
  content: '';
  display: table-cell;
  position: relative;
  top: 0.5em;
  width: 43%;
}

.newest-produces .content-2-column {
  display: none;
}

.newest-produces .content-2-column .after-slider {
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 700px;
}

.newest-produces .content-2-column .after-slider .item-products {
  font-size: 20px;
  width: 49.8%;
  position: relative;
  overflow: hidden;
}

.newest-produces .content-2-column .after-slider .item-products:hover .overlay {
  -webkit-transform: translate(0, -160px);
          transform: translate(0, -160px);
}

.newest-produces .content-2-column .after-slider .item-products img {
  display: block;
  width: 100%;
  height: 100%;
}

.newest-produces .content-2-column .after-slider .item-products .overlay {
  background-color: rgba(36, 44, 66, 0.5);
  width: 100%;
  height: 40%;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.newest-produces .content-2-column .after-slider .item-products .overlay .content {
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  margin: 0 auto;
  white-space: nowrap;
}

.newest-produces .content-2-column .after-slider .item-products .overlay .content h2 {
  text-align: center;
  font-size: 25px;
  margin: 25px 0;
}

.newest-produces .content-2-column .after-slider .item-products .overlay .content span {
  background: #000;
  display: block;
  font-size: 14px;
  text-align: center;
  margin: 25px 0;
  padding: 10px 0;
  font-weight: bold;
}

.newest-produces .content-2-column .after-slider .item-products .overlay .content span:hover {
  background: #fff;
  color: #000;
}

@media screen and (max-width: 768px) {
  .newest-produces .content-2-column .after-slider .item-products .overlay {
    display: none;
  }
}

.newest-produces .content-2-column .after-slider .item-products a:hover {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .newest-produces .content-2-column .after-slider .item-products {
    overflow: unset;
  }
}

@media screen and (max-width: 768px) {
  .newest-produces .content-2-column .after-slider {
    height: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .newest-produces .content-2-column .after-slider {
    height: 450px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .newest-produces .content-2-column .after-slider {
    height: 550px;
  }
}

@media screen and (max-width: 768px) {
  .newest-produces .content-2-column {
    display: block;
  }
}

.newest-produces .content-3-column {
  display: none;
}

.newest-produces .content-3-column .before-footer {
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 500px;
}

.newest-produces .content-3-column .before-footer .item-products {
  font-size: 20px;
  width: 32.2%;
  position: relative;
  overflow: hidden;
}

.newest-produces .content-3-column .before-footer .item-products a:hover {
  text-decoration: none;
}

.newest-produces .content-3-column .before-footer .item-products:hover .overlay {
  -webkit-transform: translate(0, -160px);
          transform: translate(0, -160px);
}

@media screen and (min-width: 992px) and (max-width: 1400px) {
  .newest-produces .content-3-column .before-footer .item-products:hover .overlay {
    -webkit-transform: translate(0, -145px);
            transform: translate(0, -145px);
  }
}

.newest-produces .content-3-column .before-footer .item-products img {
  display: block;
  width: 100%;
  max-height: 100%;
}

.newest-produces .content-3-column .before-footer .item-products .overlay {
  background-color: rgba(36, 44, 66, 0.5);
  width: 100%;
  height: 50%;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.newest-produces .content-3-column .before-footer .item-products .overlay .content {
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  margin: 0 auto;
  white-space: nowrap;
}

.newest-produces .content-3-column .before-footer .item-products .overlay .content h2 {
  text-align: center;
  font-size: 25px;
  margin: 25px 0;
}

.newest-produces .content-3-column .before-footer .item-products .overlay .content span {
  background: #000;
  display: block;
  font-size: 14px;
  text-align: center;
  margin: 25px 0;
  padding: 10px 0;
  font-weight: bold;
}

.newest-produces .content-3-column .before-footer .item-products .overlay .content span:hover {
  background: #fff;
  color: #000;
}

@media screen and (max-width: 768px) {
  .newest-produces .content-3-column .before-footer .item-products .overlay {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .newest-produces .content-3-column .before-footer .item-products {
    overflow: unset;
  }
}

@media screen and (max-width: 768px) {
  .newest-produces .content-3-column .before-footer {
    height: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 844px) {
  .newest-produces .content-3-column .before-footer {
    height: 260px;
  }
}

@media screen and (min-width: 844px) and (max-width: 992px) {
  .newest-produces .content-3-column .before-footer {
    height: 285px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1050px) {
  .newest-produces .content-3-column .before-footer {
    height: 330px;
  }
}

@media screen and (min-width: 1050px) and (max-width: 1200px) {
  .newest-produces .content-3-column .before-footer {
    height: 350px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1500px) {
  .newest-produces .content-3-column .before-footer {
    height: 395px;
  }
}

@media screen and (max-width: 768px) {
  .newest-produces .content-3-column {
    display: block;
  }
}

.product-page {
  padding: 0 30px;
  font-size: 14px;
  color: #222;
}

.product-page .breadcrumb-wrapper .breadcrumb {
  color: #666;
  background: none;
  text-align: left;
  padding: 0 10px 0 0;
  font-size: 12px;
}

.product-page .breadcrumb-wrapper .breadcrumb li a {
  color: #666;
}

@media screen and (max-width: 768px) {
  .product-page .breadcrumb-wrapper {
    position: absolute;
    top: 85px;
    z-index: 3;
  }
}

.product-page .thumbnail-product {
  margin-top: 30px;
  width: 50%;
  border: 1px solid #fff;
}

.product-page .right-column-desc .name-product {
  font-weight: bold;
  font-size: 20px;
}

.product-page .right-column-desc .code-product {
  color: #adafbb;
}

.product-page .right-column-desc .price-product {
  font-size: 34px;
  font-weight: bold;
  padding: 10px 0;
}

.product-page .right-column-desc .color-product {
  background: white;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 10px 0;
}

.product-page .right-column-desc .buy-product {
  margin: 20px 0;
  color: #fff;
}

.product-page .right-column-desc .buy-product .buy-product-title .size-product {
  color: #adafbb;
  font-weight: bold;
}

.product-page .right-column-desc .buy-product .buy-product-title .size-product .size-product-title {
  padding: 5px 0;
}

.product-page .right-column-desc .buy-product .buy-product-title .size-product .size-product-number {
  padding: 5px 0;
}

.product-page .right-column-desc .buy-product .buy-product-title .buy-tut {
  padding: 10px 0;
}

.product-page .right-column-desc .buy-product .buy-product-title .buy-tut #show_size_tutorial,
.product-page .right-column-desc .buy-product .buy-product-title .buy-tut #show_guide_buy {
  background: none;
  color: #adafbb;
  border: none;
  margin-right: 10px;
  border-bottom: 1px #adafbb solid;
  cursor: pointer;
  font-size: 12px;
}

.product-page .right-column-desc .buy-product .buy-product-title .quanity {
  color: #adafbb;
}

.product-page .right-column-desc .buy-product .buy-product-title .quanity h3 {
  font-weight: bold;
  font-size: 14px;
}

.product-page .right-column-desc .buy-product .buy-product-title .button-add {
  background: none repeat scroll 0 0 #880016;
  border: none;
  text-transform: uppercase;
  font-size: 18px;
  padding: 8px 45px;
  width: 100%;
}

.product-page .right-column-desc .buy-product .buy-product-title .button-add:hover {
  opacity: .5;
}

.product-page .right-column-desc .buy-product .buy-product-title .button-buy {
  border: none;
  background: #000;
  text-transform: uppercase;
  font-size: 18px;
  padding: 2px 45px;
  width: 100%;
  margin-top: 10px;
}

.product-page .right-column-desc .buy-product .buy-product-title .button-buy span {
  text-transform: none;
  display: block;
  font-size: 14px;
}

.product-page .right-column-desc .buy-product .buy-product-title .button-buy:hover {
  opacity: .5;
}

.product-page .right-column-desc .buy-product .buy-product-title select {
  width: 64px;
  border: 1px solid #BBBBBB;
  padding: 5px;
  color: black;
  margin-bottom: 10px;
}

.product-page .right-column-desc .share-button i {
  font-size: 14px;
  color: #000;
  padding: 5px 10px 0 0;
}

.product-page .right-column-desc .share-button i:hover {
  opacity: .5;
}

.product-page .right-column-desc .describe-product {
  border-top: 1px #dadcdd solid;
  border-bottom: 1px #ccc solid;
  line-height: 1.6;
  cursor: pointer;
}

.product-page .right-column-desc .describe-product .describe-product-title {
  font-size: 16px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 20px;
}

.product-page .right-column-desc .describe-product .describe-product-title .fa-caret-right {
  display: block;
  float: right;
}

.product-page .right-column-desc .describe-product .describe-product-title .fa-caret-right:active,
.product-page .right-column-desc .describe-product .describe-product-title .fa-caret-right:focus {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.product-page .right-column-desc .describe-product .collapse {
  margin: 25px 0;
}

.product-page .right-column-desc .material-product {
  cursor: pointer;
}

.product-page .right-column-desc .material-product .material-product-title {
  padding-top: 5px;
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
}

.product-page .right-column-desc .material-product .material-product-title .fa-caret-right {
  float: right;
}

.product-page .right-column-desc .material-product .material-product-title .fa-caret-right:active,
.product-page .right-column-desc .material-product .material-product-title .fa-caret-right:focus {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media screen and (min-width: 768px) {
  .product-page .right-column-desc {
    max-width: 400px;
  }
}

@media screen and (max-width: 768px) {
  .product-page .right-column-desc {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.product-page .slider-left img {
  width: 80%;
  margin: 3px 0;
}

@media screen and (max-width: 768px) {
  .product-page .slider-left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 15px 0;
  }
}

.product-page .zoom-img-center img {
  width: 80%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .product-page .zoom-img-center {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 120px;
  }

  .product-page .zoom-img-center img {
    width: 100%;
  }
}

.product-page .seen-detail-products {
  margin: 10px 0 80px 0;
}

.product-page .seen-detail-products p {
  color: #222;
  padding: 15px 0 15px 0;
  text-transform: uppercase;
  font-size: 14px;
}

.product-page .seen-detail-products .list-product-viewed .item .caption-in-viewed h3 {
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  margin: 15px 0;
  line-height: 20px;
  padding: 0;
  min-height: 20px;
}

@media screen and (max-width: 768px) {
  .product-page {
    padding: 0 10px;
  }
}

.register-information {
  text-align: center;
  padding: 30px 0 5px 0;
}

.register-information h4 {
  color: #222;
  text-align: center;
}

.register-information h4.end-line-products {
  width: 100%;
  margin: 0;
  display: table;
  white-space: nowrap;
  padding: 10px 0;
  text-transform: uppercase;
}

.register-information h4.end-line-products:before,
.register-information h4.end-line-products:after {
  border-top: 1px solid #dcdcdc;
  content: '';
  display: table-cell;
  position: relative;
  top: 0.5em;
  width: 41%;
}

.banner-footer {
  margin: 0;
  width: 100%;
  position: relative;
  padding: 0 0 20px 0;
}

.banner-footer img {
  width: 100%;
}

.banner-footer .form-newsletter-wrapper {
  position: absolute;
  width: 35%;
  top: 40px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

@media screen and (max-width: 768px) {
  .banner-footer .form-newsletter-wrapper {
    width: 50%;
    top: 20px;
  }
}

.banner-footer .form-newsletter-wrapper .form-newsletter {
  height: 45px;
}

.banner-footer .form-newsletter-wrapper .form-newsletter .newsletter-bar {
  height: 100%;
  border: none;
  width: 100%;
  padding-left: 18px;
}

.banner-footer .form-newsletter-wrapper .form-newsletter button {
  height: 100%;
  border: none;
  background: #222222;
  color: #fff;
  outline: none;
  padding: 0 20px;
  position: absolute;
  top: 0;
  right: 0;
}

.footer {
  height: 200px;
  text-align: center;
  position: relative;
  background: #343737;
}

.footer .menu-in-footer {
  padding-top: 30px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .footer .menu-in-footer * {
    font-size: 11px;
  }
}

.footer .menu-in-footer a {
  color: #fff;
}

.footer .menu-in-footer a:hover {
  text-decoration: none;
  color: #95a5a6;
}

.footer .menu-in-footer .right-line-footer {
  color: #fff;
  padding: 0 30px;
}

@media screen and (max-width: 768px) {
  .footer .menu-in-footer .right-line-footer {
    padding: 0 20px;
  }
}

@media screen and (max-width: 415px) {
  .footer .menu-in-footer .right-line-footer {
    padding: 0 17px;
  }
}

.footer .boder-for-menu {
  border-right: 1px solid #fff;
  position: absolute;
}

.footer .social-icon-in-footer {
  padding-top: 40px;
}

.footer .social-icon-in-footer h3 {
  color: #fff;
  font-size: 14px;
}

.footer .social-icon-in-footer i {
  font-size: 18px;
  color: #888;
  padding: 15px 20px 0 0;
}

.footer .social-icon-in-footer i:hover {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .zoomContainer {
    display: none;
  }
}

.fixed {
  position: fixed !important;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  border-bottom: 1px #dadcdd solid;
}

.fixed .bf-menubar {
  display: block !important;
}

.fixed #nav {
  min-height: 0;
}

.fixed #nav ul {
  line-height: 35px;
}

.fixed #nav ul li a {
  padding-top: 5px !important;
}

.fixed #nav ul li .bf-menubar {
  padding-top: 0 !important;
}

@media screen and (max-width: 768px) {
  .fixed {
    display: none !important;
  }
}

.lazyload {
  display: block !important;
}

#tableSizeTutorial .modal-dialog,
#modalFormCard .modal-dialog {
  max-width: 800px;
  margin: 30px auto;
}

#tableSizeTutorial .modal-dialog .modal-content,
#modalFormCard .modal-dialog .modal-content {
  font-size: 14px;
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

#tableSizeTutorial .modal-dialog .modal-content .modal-header,
#modalFormCard .modal-dialog .modal-content .modal-header {
  min-height: 16.42857143px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  background: #222;
  color: #fff;
  text-transform: uppercase;
}

#tableSizeTutorial .modal-dialog .modal-content .modal-header h5,
#modalFormCard .modal-dialog .modal-content .modal-header h5 {
  font-size: 20px;
}

#tableSizeTutorial .modal-dialog .modal-content .modal-body,
#modalFormCard .modal-dialog .modal-content .modal-body {
  position: relative;
  padding: 15px;
}

#tableSizeTutorial .modal-dialog .modal-content .modal-body form .form-group,
#tableSizeTutorial .modal-dialog .modal-content .modal-body form .card,
#tableSizeTutorial .modal-dialog .modal-content .modal-body form .required,
#modalFormCard .modal-dialog .modal-content .modal-body form .form-group,
#modalFormCard .modal-dialog .modal-content .modal-body form .card,
#modalFormCard .modal-dialog .modal-content .modal-body form .required {
  border: none;
}

#tableSizeTutorial .modal-dialog .modal-content .modal-body table,
#modalFormCard .modal-dialog .modal-content .modal-body table {
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 15px;
}

#tableSizeTutorial .modal-dialog .modal-content .modal-body table td,
#modalFormCard .modal-dialog .modal-content .modal-body table td {
  border: 1px solid #eee;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  vertical-align: middle;
}

#tableGuideToBuy {
  line-height: 24px;
  font-size: 14px;
}

#tableGuideToBuy .modal-dialog {
  max-width: 800px;
  position: relative;
  margin: 30px auto;
}

#tableGuideToBuy .modal-dialog .modal-content {
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 0;
}

#tableGuideToBuy .modal-dialog .modal-content .modal-header {
  min-height: 16.42857143px;
  padding: 15px;
  background: #222;
  color: #fff;
  text-transform: uppercase;
}

#tableGuideToBuy .modal-dialog .modal-content .modal-header h5 {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

i.cart-in-menu {
  position: relative;
}

i.cart-in-menu .num {
  display: block;
  position: absolute;
  right: -8px;
  top: -6px;
  color: white;
  border-radius: 50%;
  width: 12px;
  vertical-align: middle;
  height: 14px;
  font-size: 12px;
  text-align: center;
  background: red;
}

