@import '_variables';

@font-face {
	font-family: main-font;
	src: url(/AVANTN.ttf);
}

*{
	font-family: main-font;
    .container-fluid{
        max-width: 1520px;
        padding: 0 30px;
        @media screen and (max-width: 768px) {
            padding: 0 15px;
        }
    }
}

.main-jumbo {
	padding-top: 0;
}

.title-article {
	color: #000;
    line-height: 30px;
    text-transform: uppercase;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
}

.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3 { width: 25%; float: left; }
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4 { width: 33.33333333%; float: left; }
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6 { width: 50%; float: left; }

.dropdown-submenu {
	position: relative;
	&>.dropdown-menu {
		top: 0;
		left: 100%;
		margin-top: -6px;
		margin-left: -1px;
		-webkit-border-radius: 0 6px 6px 6px;
		-moz-border-radius: 0 6px 6px;
		border-radius: 0 6px 6px 6px;
	}
	&:hover {
		&>.dropdown-menu {
			display: block;
		}
		&>a:after {
			border-left-color: #fff;
		}
	}
	&>a:after {
		display: block;
		content: '';
		float: right;
		width: 0;
		height: 0;
		border-color: transparent;
		border-style: solid;
		border-width: 5px 0 5px 5px;
		border-left-color: #ccc;
		margin-top: 5px;
		margin-right: -10px;
	}
	&.pull-left {
		float: none;
		&>.dropdown-menu {
			left: -100%;
			margin-left: 10px;
			-webkit-border-radius: 6px 0 6px 6px;
			-moz-border-radius: 6px 0 6px 6px;
			border-radius: 6px 0 6px 6px;
		}
	}
}

.navbar-fixed-top {
	position: relative;
}
////////////product page
.category-page, .search-campain-content {
  @media screen and (max-width: 768px)  {
	flex-direction: column-reverse;
  }
  .nav_menu, .left-category{
	*{
	  font-size: 14px;
	  color: #000;
	}
	position: relative;
  > ul{
	  background: #fff;
	  line-height: 30px;
	  padding: 0;
	  > li{
		list-style: none;
		z-index: 10;
		height: 100%;
		transition: 2s ease-out;   
		  > a{
			  background: #fff;
			  display: block;
			  text-transform: uppercase;
			  &:hover{
				text-decoration: none;
			  }           
			  i{
				  font-size: 16px;
			  }
			  .caret{
				float: right;
				display: block;
				width: 9px;
				height: 10px;
			  }
			  .plusMark{
				  display: none;
			  }
		  }
		  > ul {
			width: 100%;
			position: relative;
			padding-left: 10px;
			line-height: 30px;
			  > li{
				 list-style: none;
				 display: none;
				 @media screen and (max-width: 768px)  {
				   display: none;
				 }
				 a{
				   display: block;
				   text-transform: unset !important;
				  .plusMark, .caret{
					display: none;
				  }
				  &:hover{
					text-decoration: none;
				  }    
				 }
				 > ul{
				  display: block;
				  position: relative;
				  padding-left: 10px;
				  line-height: 30px;
				  li{
					list-style: none;
				  }
				 }
			  }
		  }
		}
  }
  border-bottom: 1px #dadcdd solid;
  @media screen and (max-width: 768px)  {
	border-top: 1px #dadcdd solid;
	
	padding: 10px 0;
  }
}
.filter-color{
  .nav, .navbar-nav
  {
	float: unset;
  } .left-menu{
	display: flex;
	flex-direction: row;
	margin: 0;
	// padding-left: 20px;
	li{
	  a{
		padding: 5px 8px !important;
	  }
	}
  }
 
	padding: 10px 0;
	border-bottom: 1px #dadcdd solid;
  
}
.filter-size{
  .navbar-nav
  {
	float: unset;
	li a{
	  color: #666;
	  font-size: 11px;
	}
  }  
  border-bottom: 1px #dadcdd solid;
  padding: 10px 0;
  
}
.filter-part{
	padding: 10px 0;
  .dropdown{
	.btn, .btn-primary, .dropdown-toggle{
	  border: none;
	  border-radius: 0;
	  background: #f3f3f3;
	  color: #000;
	  letter-spacing: 1.2px;
	  font-size: 12px;
		  padding: 3px 10px;
	  &:focus, &:active{
	   box-shadow: unset;
	   }
	  
	}
	.dropdown-menu{
	  li{
		padding: 2px 10px;
		a{
		  display: block;
		  padding: 3px 20px;
		  clear: both;
		  font-weight: normal;
		  line-height: 1.42857143;
		  color: #333;
		  white-space: nowrap;
		  font-size: 13px;
		  
		}
	  }
	}
  }
  .filter-grid{
	margin-left: 10px;
	@media screen and (max-width:768px) {
	  display: none;
	  
	 }
  }
  @media screen and (max-width:768px) {
	z-index: 1;
	top: 70px;
	padding: 10px 0;
	order: 1;
   }
}

.item_product_list {
	margin: 2px 0;
	padding: 0 4px;
	height: auto;
	position: relative;
	&.grid-5{
	    width: 20% !important;
	    float: left;
	}
	.border{
	  border: none !important;
	  .img{      
		a{
		  position: relative;
		  display: block;
		  .first{
			width: 100%;
		  }
		  .second{
			top: 0;
			position: absolute;
			width: 100%;
		   
		  }
		}
		&:hover{       
		  a{           
			.first{
			  opacity: 0 !important;
			  transition: 1s;          
			}
			.second{
			  opacity: 1 !important;
			  overflow: hidden;
			  transition: 1s; 
			  
			}
		  }        
		}
	  }
	  .info{
		// background: #f7f7f7;
		*{
		  color: #000;
		  text-align: center;
		  font-size: 16px;
		}
		.clb{          
		  text-transform: uppercase;
		  font-weight: unset;
		}
		.brief, .clearfix{          
		  font-size: 18px;
		  font-weight: bold;
		}
		.color-dot{
		    display: block;
		    margin: 0 auto 10px;
		    width: 15px;
		    height: 15px;
		    border-radius: 10px;
		    border: 1px solid #adafbb;
		}
		
	  }
	}
	@media screen and (max-width:768px) {
	    margin-top: 70px;
	}
	
  }
 
}

.product-page {
	.thumbnail-product {
		.img {
			width: 100%;
		}
	}
}

/////////////////menu main
/*
 *  Accessible Multi-Level Dropdown Navigation Menu
 *  Created by Ire Aderinokun
 *
 */
/* Resets */

#nav {
    @media screen and (min-width: 650px) {
    	display: inline-block;
    	a:focus {
			outline: none;
	    }
	    li {
			text-align: left;
			width: 200px;
		}
    }
    @media screen and (max-width: 650px) {
    	display: block;
    	li {
			text-align: center;
			width: 100%;
		}
    }
    ul {
		margin: 0;
		padding: 0;
		border: 0;
		list-style: none;
		box-sizing: border-box;
    }
    li {
		margin: 0;
		padding: 0;
		border: 0;
		list-style: none;
		box-sizing: border-box;
		position: relative;
  	}
  	a {
		text-decoration: none;
		height: 100%;
		display: block;
		padding: 0 20px;
  	}
}

/* Any sub menu */
@media screen and (min-width: 650px) {
  a + ul {
	position: absolute;
  }
}

@media screen and (max-width: 650px) {
  a + ul {
	position: relative;
	&:not(.js-hideElement) {
	  display: block;
	}
  }
}

/* The Main Navigation Bar - Navigation Level One */

#nav > ul, .fa {
  height: 100%;
  line-height: 35px;
}

@media screen and (min-width: 650px) {
  #nav > ul > li {
	float: left;
	width: auto;
  }
}

@media screen and (min-width: 650px) {
  #nav > ul > li:not(#toggleMenu):not(.js-showElement) {
	display: inline-block;
  }
}



@media screen and (min-width: 650px) {
  #nav #toggleMenu {
	display: none;
  }
}

@media screen and (max-width: 650px) {
	#nav #toggleMenu {
		display: block;
		width: 100%;
		&.js-open {
		    .fa-times {
			    display: block;
		    }
		    .fa-bars {
				display: none;
		  	}
		}
		&:not(.js-open) {
		  	.fa-times {
				display: none;
		  	}
		  	.fa-bars {
				display: block;
		  	}
		}
	}
}

span#toggleMenu-text {
    position: absolute;
    opacity: 0;
}

/* Second Level Dropdown */

#nav {
  .js-hideElement {
	display: none;
  }
  .js-showElement {
	display: block;
  }
}

@media screen and (min-width: 650px) {
  #nav > ul > li > ul {
	top: 35px;
	left: 0;
  }
}

@media screen and (max-width: 650px) {
  #nav > ul > li > ul {
	width: 100%;
	position: relative;
	
  }
}

/* Third Level Dropdown */
@media screen and (min-width: 650px) {
  #nav > ul > li > ul > li > ul {
	top: 0;
	left: 200px;
	/* width of ul */
  }
}

@media screen and (max-width: 650px) {
  #nav > ul > li > ul > li > ul {
	width: 100%;
	position: relative;
	
  }
}

/* Javascript classes */

/* Fallback for users without javascript */

html.no-js li {
  &:hover > a + ul, &:focus > a + ul {
	display: block;
  }
}

@media screen and (max-width: 650px) {
  html.no-js #nav {
	&:hover > ul > li:not(#toggleMenu), &:focus > ul > li:not(#toggleMenu) {
	  display: block;
	}
	&:hover li {
	  &:hover > a + ul, &:focus > a + ul {
		display: block;
	  }
	}
	&:focus li {
	  &:hover > a + ul, &:focus > a + ul {
		display: block;
	  }
	}
  }
}

.cart_list {
	border-bottom: 1px solid #181818;
	thead {
		tr {
			text-transform: uppercase;
		    font-weight: normal;
		    text-align: left;
		    border-top: 1px solid #181818;
		    height: 43px;
		    th {
		    	font-size: 12px;
			    background: #181818;
			    color: #fff;
			    padding: 10px;
			    white-space: nowrap;
			    width: 100%;
		    }
		}
	}
	tbody {
		td {
			text-align: right;
			vertical-align: middle;
		}
	}
}

.button-black {
	color: white;
	background: black;
	width: 200px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
	font-size: 14px;
	min-width: 100px;
	margin: 5px 0;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		color: white;
	}
}

@import 'tai_custome';
@import 'popup';
