// Pop-up
 #tableSizeTutorial, #modalFormCard {
    .modal-dialog {
        max-width: 800px;
        margin: 30px auto;
        .modal-content {
            font-size: 14px;
            position: relative;
            background-color: #fff;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            border: 1px solid #999;
            border: 1px solid rgba(0, 0, 0, .2);
            border-radius: 6px;
            outline: 0;
            -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
            box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
            .modal-header {
                min-height: 16.42857143px;
                padding: 15px;
                border-bottom: 1px solid #e5e5e5;
                background: #222;
                color: #fff;
                text-transform: uppercase;
                h5{
                    font-size: 20px;
                }
            }
            .modal-body {
                position: relative;
                padding: 15px;
                form {
                    .form-group, .card, .required{
                        border: none;
                    }
                }
                table {
                    border-collapse: separate;
                    border-spacing: 0;
                    margin-bottom: 15px;
                   td {
                    border: 1px solid #eee;
                    padding-left: 10px;
                    padding-right: 10px;
                    padding-top: 5px;
                    vertical-align: middle;
                   }

                }
            }
        }
    }
}
#tableGuideToBuy {
    line-height: 24px;
    font-size: 14px;
    .modal-dialog{
        max-width: 800px;
        position: relative;
        margin: 30px auto;
        .modal-content{
            position: relative;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid rgba(0, 0, 0, .2);
            border-radius: 6px;
            outline: 0;
            .modal-header{
                min-height: 16.42857143px;
                padding: 15px;
                background: #222;
                color: #fff;
                text-transform: uppercase;
                h5{
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                }
            }
        }
    }
}

i.cart-in-menu {
    position: relative;
    .num {
        display: block;
        position: absolute;
        right: -8px;
        top: -6px;
        color: white;
        border-radius: 50%;
        width: 12px;
        vertical-align: middle;
        height: 14px;
        font-size: 12px;
        text-align: center;
        background: red;
    }
}