@import url('https://fonts.googleapis.com/css?family=Mukta+Malar');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
body {
    background: #fff;
    margin: 0;
    padding: 0;
}

#app{
    .navbar{
        margin-bottom: 5px;
        @media screen and (max-width: 768px) {
            min-height: unset;
        }
    }
    @media screen and (max-width: 768px) {
        position: fixed;
        z-index: 11111;
        width: 100%;
        height: 70px;
        top: 0;
        background: white;
        border-bottom: 1px #dadcdd solid;
    }
}

.navbar-static-top {
    padding: 0;
    border: none;
    .top-banner-contact {
        width: 100%;
        .s-top {
            background: #222222;
            .info-top {
                padding: 10px 0 0 0;
                #s-hotline {
                    float: left;
                    .hidden-xs {
                        display: inline-block;
                        li {
                            padding-right: 15px;
                            color: #fff;
                            display: inline;
                            .fa-truck {
                                transform: rotateY(180deg);
                            }
                            a {
                                font-size: 11px;
                                color: #fff;
                                &:hover {
                                    text-decoration: none;
                                    opacity: 0.7;
                                }
                            }
                            i {
                                font-size: 16px;
                            }
                            .hotline-banner-contact {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            @media screen and (max-width: 768px) {
                display: block;
                height: 30px;
                position: absolute;
                top: 0;
                width: 100%;
                margin-left: -1px;
                .info-top{
                    padding: 5px 0;
                .hidden-xs{
                    display: block !important;
                    padding-left: 5px;
                    li{
                        display: none !important;
                        a{
                            font-size: 15px !important;
                        }
                    }
                    .phone-mobile-only{
                        display: block !important;
                        position: absolute;
                        .hotline-banner-contact{
                            display: none;
                        }
                        
                    }
                }
            }
                
            }
        }
        .logo-page {
            padding: 27px 0;
            margin: 0 auto;
            position: relative;
            display: flex;
            justify-content: center;
            z-index: 1;
            img {
                width: 200px;
                height: 50px;
                @media screen and (max-width: 768px) {
                width: 100px;
                height: 25px;
                }
            }
            border-bottom:1px solid rgba(220,220,220,.7);
            @media screen and (max-width: 768px) {
                position: absolute;
                top: 35px;
                left: 70px;
                z-index: 50;
                padding: 0;
                max-width:5px 60px;
                border: none;
                
            }
        }
        // mobile
        @media screen and (max-width: 768px) {
            // position: absolute;
            
        }

    }
    .top-banner-menu {
        background: #fff;
        width: 100%;
        .navbar-fixed-top {
            padding: 0 15px;
            .main-menu-fixtop {
                position: relative;
                transition: 0.5s;
                #nav {
                    box-sizing: border-box;
                    position: unset;
                    margin: 0;
                    padding: 0;
                    color: #000;
                    background: unset;
                    border: none;
                    list-style: none;
                    *{
                        font-size: 11px;
                        color: #000;
                        text-transform: uppercase;
                        letter-spacing: 1.1px;
                    }
                    .closebtn {
                        display: none;
                        color: white;
                        @media screen  and (max-width: 768px){
                            display: block;
                            position: absolute;
                            top: 0;
                            right: 0;
                            font-size: 36px;
                            margin-left: 50px;
                        }
                    }
                    > ul {
                        background: #fff;
                        line-height: 40px;
                        @media screen  and (max-width: 768px){
                            float: left;
                            background: #222;
                            width: 100%;
                        }

                        // li ---- 1
                        > li {
                            border:unset;
                            position: unset;                                    
                            @media screen and (max-width: 768px) {
                                float: none;
                                display: block;
                                width: 100%;
                                &::after {
                                    content: '';
                                    border-bottom-width: 1px;
                                    border-bottom-style: solid;
                                    display: block;
                                    width: 100%;
                                    bottom: 0;
                                    opacity: .1;
                                    left: 0;
                                }
                            }
                            > a{
                                background: #fff;
                                color: #000;
                                border: none;
                                text-align: left;
                                padding: 0 10px;
                                i{
                                    font-size: 16px;
                                }
                                .caret{
                                    margin-left: 10px;
                                    @media screen and (max-width: 768px)  {
                                        display: none;
                                    }
                                }
                                .plusMark{
                                    display: none;
                                }
                                @media screen and (max-width: 768px)  {
                                    padding: unset;
                                    margin: unset;
                                    line-height: unset;
                                    text-align: left;
                                    background: transparent;
                                    text-transform: none !important;
                                    color: #fff;
                                    .caret, i{
                                        color: #fff;
                                    }
                                    
                                }
                            }
                            > ul {
                                background: #fff;
                                position: absolute;
                                width: 100%;
                                height: 300px;
                                display: none;
                                // li ----2
                                > li{ 
                                    width: 300px;
                                    margin-right: 0 10px;
                                    &:nth-child(2n +1) {
                                        background: rgba(217, 217, 217, .3);
                                        height: 250px;
                                    }  
                                    &:last-child{
                                        height: 300px ;
                                        background: unset;
                                        margin-left :15px;
                                        img{
                                            max-width: 100%;
                                            max-height: 100%;
                                            display: block;
                                            float: right;
                                        }
                                    }     
                                    > a{
                                        background: transparent;
                                        border: none;
                                        padding: 15px 20px;
                                        border-bottom: 1px solid #ededed;
                                    }
                                }
                                @media screen and (max-width: 768px)  {
                                   height: 100vh;
                                }
                            }
                        }
                    }

                    .js-showElement {
                        display: flex;
                        align-items: flex-start;
                       
                        *{
                            font-size: 10px;
                        }
                            li {                                 
                                position: relative;
                                width: 100%;
                                &:nth-child(2n +1) {
                                }                             
                                a {
                                    padding: 0;
                                    display: block;
                                    margin: 0 30px;                                         
                                    .plusMark, .caret{
                                        display: none;
                                    }
                                }
                               
                               
                                ul {
                                    display: block;
                                    position: absolute;
                                    left: 0;
                                    top: 60px;
                                    line-height: 30px;
                                    li{                                                  
                                        a{
                                            font-size: 12px;
                                            background: transparent;
                                            border: none;
                                            text-transform: none;
                                            line-height: unset;
                                            @media screen and (max-width: 768px)  {
                                               background: transparent;
                                            }   
                                        }
                                    }
                                }
                            } 
                        @media screen and (max-width: 768px)  {
                            display: none;
                        }                           
                    }
                    @media screen  and (max-width: 768px){
                        height: 100vh;
                    }
                }
                .search-right-clm {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    padding: 6px 0 0 0;
                    form {
                        width: 60%;
                        input {
                            width: 65%;
                            font-size: 14px;
                            border: none;
                            border-right: 1px solid rgba(211, 211, 211, .5);
                        }
                        button {
                            padding-left: 10px;
                            background: none;
                            border: none;
                            .fa-search {
                                font-size: 12px;
                                opacity: 0.5;
                                transform: rotateY(180deg);
                            }
                        }
                    }
                    .shopping-cart {
                        padding-left: 5px;
                        padding-top: 5px;
                        .fa-shopping-cart {
                            font-size: 18px;
                        }
                    }
                    @media screen and (max-width: 768px) {
                        display: none;
                    }
                }
                @media screen and (max-width: 768px) {
                   background: #222;
                   
                }
                @media screen and (max-width: 768px) {
                    float: left;
                    width: 0;
                    display: none;
                    max-height: unset;
                    padding-right: 0;
                    
                }
            }
            @media screen and (max-width: 768px) {
                .navbar-header{
                    width: 15%;
                    .navbar-toggle{
                        padding: 8px;
                        margin: 0;
                        background-color: #222;
                        border-radius: 0;
                        float: left;
                        border: none;
                        .icon-bar{
                            background: #fff;
                            height: 4px;
                            margin-top: 3px;
                            border: none;
                        
                        }
                    }
                }
                
            }
            .search-right-clm-mobile{
                display: none;
                @media screen and (max-width: 768px) {
                    display: block;
                    z-index: 1000;
                    width: 35%;
                    position: fixed;
                    top: 38px;
                    right: 0;
                    form {
                        input {
                            width: 65%;
                            background: transparent;
                            font-size: 14px;
                            border: none;
                            border-right: 1px solid rgba(211, 211, 211, .5);
                        }
                        button {
                            padding-left: 10px;
                            background: none;
                            border: none;
                            .fa-search {
                                font-size: 12px;
                                opacity: 0.5;
                                transform: rotateY(180deg);
                            }
                        }
                    }
                    .shopping-cart {
                        padding-left: 5px;
                        .fa-shopping-cart {
                            font-size: 18px;
                        }
                    }
                }
            }
            // @media screen and (max-width: 768px) {
            //    background: #222;
            // }
            
        }
        @media screen and (max-width: 768px) {
            position: absolute;
            top: 30px;
            left: 0;
            z-index: 10;
            background: transparent;
        }
    }
}

//slider-control
.custome-container {
    // padding: 0 30px;
    .home-page {
       .carousel, .slide {
            .carousel-control {
                font-size: 30px;
                color: #000;
                display: flex;
                flex-direction: column;
                justify-content: center;
                background: none;
                opacity: 1;
                font-size: 50px;
                .fa-angle-left {
                    position: absolute;
                    top: 50%;
                    @media screen and (max-width: 768px) {
                        display: none;
                    }
                }
                .fa-angle-right
                {
                    position: absolute;
                    right: 0;
                    top: 50%;
                    @media screen and (max-width: 768px) {
                        display: none;
                    }
                }                                                 
            }
            @media screen and (max-width: 768px) {
               margin-top: 80px;
            }
        }
    }
    @media screen and (max-width: 768px) {
        padding: 0 5px;
    }

}

// end
//product
.newest-produces {
    background: #ffffff;
    width: 100%;
    h3 {
        color: #222;
        text-align: center;
    }
    h3.line-products {
        width: 100%;
        display: table;
        white-space: nowrap;
        padding: 10px 0;
        text-transform: uppercase;
        &:before,
        &:after {
            border-top: 1px solid rgb(220, 220, 220);
            content: '';
            display: table-cell;
            position: relative;
            top: 0.5em;
            width: 43%;
        }
    }
    .content-2-column{
        display: none;
        .after-slider {
            padding-bottom: 30px;
            display: flex;
            justify-content: space-between;
            height: 700px;
            .item-products {
                font-size: 20px;
                width: 49.8%;
                position: relative;
                overflow: hidden;
               
                &:hover {
                    .overlay {
                        transform: translate(0, -160px);
                    }
                }
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
                .overlay {
                    background-color: rgba(36, 44, 66, 0.5);
                    width: 100%;
                    height: 40%;
                    transition: all .4s ease-in-out;
                    display: flex;
                    justify-content: center;
                    .content {
                        text-transform: uppercase;
                        color: #fff;
                        text-decoration: none;
                        margin: 0 auto;
                        white-space: nowrap;
                        h2 {
                            text-align: center;
                            font-size: 25px;
                            margin: 25px 0;
                        }
                        span {
                            background: #000;
                            display: block;
                            font-size: 14px;
                            text-align: center;
                            margin: 25px 0;
                            padding: 10px 0;
                            font-weight: bold;
                            &:hover {
                                background: #fff;
                                color: #000;
                            }
                        }
                    }
                    @media screen and (max-width: 768px) {
                        display: none;
                        
                    }
                }
                a {
                    &:hover {
                        text-decoration: none;
                    }
                }
                @media screen and (max-width: 768px) {
                    overflow: unset;
                    
                }
            }
            @media screen and (max-width: 768px) {
                height: 100%;
                
            }
            @media screen and (min-width: 768px) and (max-width: 992px) {
                height: 450px;
                
            }
            @media screen and (min-width: 992px) and (max-width: 1200px) {
                height: 550px;
                
            }
            
        }
        @media screen and (max-width: 768px) {
            display: block;
            
        }
    }
    
    .content-3-column {
        display: none;
        .before-footer {
            padding-bottom: 30px;
            display: flex;
            justify-content: space-between;
            height: 500px;
         
            .item-products {
                font-size: 20px;
                width: 32.2%;
                position: relative;
                overflow: hidden;
                a {
                    &:hover {
                        text-decoration: none;
                    }
                }
                &:hover {
                    .overlay {
                        transform: translate(0, -160px);
                        @media screen and (min-width:992px) and (max-width: 1400px){
                            transform: translate(0, -145px);
                        }
                    }
                }
                img {
                    display: block;
                    width: 100%;
                    max-height: 100%;
                }                 
    
                .overlay {
                    background-color: rgba(36, 44, 66, 0.5);
                    width: 100%;
                    height: 50%;
                    transition: all .4s ease-in-out;
                    display: flex;
                    justify-content: center;
                    .content {
                        text-transform: uppercase;
                        color: #fff;
                        text-decoration: none;
                        margin: 0 auto;
                        white-space: nowrap;
                        h2 {
                            text-align: center;
                            font-size: 25px;
                            margin: 25px 0;
                        }
                        span {
                            background: #000;
                            display: block;
                            font-size: 14px;
                            text-align: center;
                            margin: 25px 0;
                            padding: 10px 0;
                            font-weight: bold;
                            &:hover {
                                background: #fff;
                                color: #000;
                            }
                        }
                    }
                    @media screen and (max-width: 768px) {
                        display: none;
                        
                    }
                }
                @media screen and (max-width: 768px) {
                    overflow: unset;
                    
                }
            }
            @media screen and (max-width: 768px) {
                height: 100%;
                
            }
            @media screen and (min-width: 768px) and (max-width: 844px) {
                height: 260px;
                
            }
            @media screen and (min-width: 844px) and (max-width: 992px) {
                height: 285px;
                
            }
            @media screen and (min-width: 992px) and (max-width: 1050px) {
                height: 330px;
                
            }
            @media screen and (min-width: 1050px) and (max-width: 1200px) {
                height: 350px;
                
            }
            @media screen and (min-width: 1200px) and (max-width: 1500px) {
                height: 395px;
                
            }
        }
        @media screen and (max-width: 768px) {
            display: block; 
        }
    }
    
}

// end
// product-page -detail
.product-page {
    padding: 0 30px;
    font-size: 14px;
    color: #222;
    .breadcrumb-wrapper {
        .breadcrumb {
            color: #666;
            background: none;
            text-align: left;
            padding: 0 10px 0 0;
            font-size: 12px;
            li {
                a {
                    color: #666;
                }
            }
        }
        @media screen and (max-width: 768px) {
            position: absolute;
            top: 85px;
            z-index: 3;
        }
    }
    .thumbnail-product {
        margin-top: 30px;
        width: 50%;
        border: 1px solid #fff;
    }
    .right-column-desc {
        .name-product {
            font-weight: bold;
            font-size: 20px;
        }
        .code-product {
            color: #adafbb;
        }
        .price-product {
            font-size: 34px;
            font-weight: bold;
            padding: 10px 0;
        }
        .color-product {
            background: white;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            margin: 10px 0;
        }
        .buy-product {
            margin: 20px 0;
            color: #fff;
            .buy-product-title {
                .size-product {
                    color: #adafbb;
                    font-weight: bold;
                    .size-product-title{
                        padding: 5px 0;
                    }
                    .size-product-number {
                        padding: 5px 0;
                    }
                }
                .buy-tut{
                    padding: 10px 0;
                    #show_size_tutorial, #show_guide_buy{
                        background: none;
                        color: #adafbb;
                        border: none;
                        margin-right: 10px;
                        border-bottom: 1px #adafbb solid;
                        cursor: pointer;
                        font-size: 12px;
                    }
                }
                .quanity{
                    color: #adafbb;
                    h3{
                        font-weight: bold;
                        font-size: 14px;
                    }
                   
                }
                .button-add {
                    background: none repeat scroll 0 0 #880016;
                    border: none;
                    text-transform: uppercase;
                    font-size: 18px;
                    padding: 8px 45px;
                    width: 100%;
                    &:hover {
                        opacity: .5;
                    }
                }
                .button-buy {
                    border: none;
                    background: #000;
                    text-transform: uppercase;
                    font-size: 18px;
                    padding: 2px 45px;
                    width: 100%;
                    margin-top: 10px;
                    span {
                        text-transform: none;
                        display: block;
                        font-size: 14px;
                    }
                    &:hover {
                        opacity: .5;
                    }
                }
                select {
                    width: 64px;
                    border: 1px solid #BBBBBB;
                    padding: 5px;
                    color: black;
                    margin-bottom: 10px;
                }
            }
        }
        .share-button {
            i {
                font-size: 14px;
                color: #000;
                padding: 5px 10px 0 0;
                &:hover {
                    opacity: .5;
                }
            }
        }
        .describe-product {
            border-top: 1px #dadcdd solid;
            border-bottom: 1px #ccc solid;
            line-height: 1.6;
            cursor: pointer;
            .describe-product-title {
                font-size: 16px;
                font-weight: bold;
                padding-top: 5px;
                padding-bottom: 20px;
                .fa-caret-right {
                    display: block;
                    float: right;
                    &:active,
                    &:focus {
                        transform: rotate(90deg);
                    }
                }
            }
            .collapse {
                margin: 25px 0;
            }
        }
        .material-product {
            cursor: pointer;
            .material-product-title {
		padding-top: 5px;
                padding-bottom: 20px;                
		font-size: 16px;
                font-weight: bold;
                .fa-caret-right {
                    float: right;
                    &:active,
                    &:focus {
                        transform: rotate(90deg);
                    }
                }
            }
        }
        @media screen and (min-width:768px) {
            max-width: 400px;
        }
        @media screen and (max-width:768px) {
            order: 3;
        }
    }
    .slider-left {
        img {
            width: 80%;
            margin: 3px 0;
        }
        @media screen and (max-width:768px) {
            order: 2;
            display: flex; 
            justify-content: center;
            padding: 15px 0;        
           }
    }
    .zoom-img-center {
        img {
            width: 80%;
            text-align: center;
        }
        @media screen and (max-width:768px) {
           order: 1;
           margin-top: 120px;
           img{
               width: 100%;
           }
        }
    }
    .seen-detail-products {
        margin: 10px 0 80px 0;
        p {
            color: #222;
            padding: 15px 0 15px 0;
            text-transform: uppercase;
            font-size: 14px;
        }
        
        .list-product-viewed {
            .item {
                .caption-in-viewed {
                    h3 {
                        font-size: 12px;
                        text-transform: uppercase;
                        text-align: center;
                        margin: 15px 0;
                        // font-weight: 600;
                        line-height: 20px;
                        padding: 0;
                        min-height: 20px;
                    }
                }
            }
        }
    }
    @media screen and (max-width:768px) {
        padding: 0 10px;
    }
}


// footer
.register-information {
    text-align: center;
    padding: 30px 0 5px 0;
    h4 {
        color: #222;
        text-align: center;
    }
    h4.end-line-products {
        width: 100%;
        margin: 0;
        display: table;
        white-space: nowrap;
        padding: 10px 0;
        text-transform: uppercase;
        &:before, &:after {
            border-top: 1px solid #dcdcdc;
            content: '';
            display: table-cell;
            position: relative;
            top: 0.5em;
            width: 41%;
        }
    }
}

.banner-footer {
    margin: 0;
    width: 100%;
    position: relative;
    padding: 0 0 20px 0;
    img {
        width: 100%;
    }
    .form-newsletter-wrapper{
        position: absolute;
        width: 35%;
        top: 40px;
        left: 50%;
        transform: translate(-50%, 0);
        @media screen and (max-width:768px) {
            width: 50%;
            top: 20px;
        }
        .form-newsletter{
            height: 45px;
            .newsletter-bar{
                height: 100%;
                border: none;
                width: 100%;
                padding-left: 18px;
            }
            button{
                height: 100%;
                border: none;
                background: #222222;
                color: #fff;
                outline: none;
                padding: 0 20px;
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }
}

.footer {
    height: 200px;
    text-align: center;
    position: relative;
    background: #343737;
    .menu-in-footer {
        padding-top: 30px;
        font-size: 14px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        @media screen and (max-width: 768px) {
            *{
                font-size: 11px;
            }
        }
        a {
            color: #fff;
            &:hover {
                text-decoration: none;
                color: #95a5a6;
            }
        }
        .right-line-footer {
            color: #fff;
            padding: 0 30px;
            @media screen and (max-width: 768px) {
                padding: 0 20px;
            }
            @media screen and (max-width: 415px) {
                padding: 0 17px;
            }
        }
    }
    .boder-for-menu {
        border-right: 1px solid #fff;
        position: absolute;
    }
    .social-icon-in-footer {
        padding-top: 40px;
        h3 {
            color: #fff;
            font-size: 14px;
        }
        i {
            font-size: 18px;
            color: #888;
            padding: 15px 20px 0 0;
            &:hover {
                color: #fff;
            }
        }
    }
}
.zoomContainer {
    @media screen and (max-width: 768px) {
        display: none;
    }
}

.fixed{
    position: fixed !important;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    border-bottom: 1px #dadcdd solid;
    .bf-menubar{
        display: block !important;
    }
    #nav{
        min-height: 0;
        ul{
            line-height: 35px;
            li{
                a{
                    padding-top: 5px !important;
                }
                .bf-menubar{
                    padding-top: 0 !important;
                }
            }
        }
    }
    @media screen and (max-width: 768px) {
        display: none !important;
        
    }
}

.lazyload{
    display: block !important;
   
}